body{
    
    font-size: 2.5vh;
    background-image: url("chrome://global/skin/media/imagedoc-darknoise.png");
}

marquee{
    color: rgb(1, 28, 83);
    background-color: aqua;
}
.container{
    background-color:hsl(217, 54%, 11%);
    width:160vh;
    
    margin:0vh 9vh;
    height:97.5vh;
    position:relative;

}

.box{
    position: absolute;
    background-color: hsl(216, 50%, 16%);
    margin:13vh 60.5vh;
    width:24.5%;
    height:66vh;
    border-radius: 1.5vh;
    box-shadow: 0vh 18vh 24vh  rgba(0,0,0,0.5);
}

.inbox{
    padding: 2.5vh;
    text-align: left;
    font-family:"Outfit",sans-serif;
    /*font-weight:300, 400, 600;*/
}

h{
    display: block;
    padding-top: 2vh;
    color:white;
    width:fit-content;
}
h:hover{
    color: aqua;
    cursor:pointer;
}

.img1{
    width:34vh;
    border-radius: 1vh;
}
.img1:hover{
    background-color: aqua ;
    cursor:pointer;
}

article{
    display: block;
    padding-top: 1.9vh;
    color:hsl(216, 32%, 57%);
    font-size: 2vh;
}

present{
    display:inline-block;
    padding-top: 2.9vh;
    margin-left: 2vh;
    font-size: 1.8vh;
    color:hsl(178, 100%, 50%)
}
.img2{
    position: fixed;
    width:0.6%;
    margin-top: 3.1vh;
}

.vacancy{
    position: fixed;
    margin-top: -3.2vh;
    margin-left: 25.85vh;
   
}
limit{
    padding-top: 0vh;
    text-align: right;
    
    color:hsl(216, 52%, 74%);
    font-size: 1.8vh;
}
.img3{
    position: fixed;
    margin-top: 0.95vh;
    margin-left: -2.9vh;
    text-align: right;
    color:hsl(216, 52%, 74%);
    font-size: 12vh;
    width:1.0%;
   
}

.img4{
    position: fixed;
    padding: 0vh;
    margin-top: 0.3vh;
    width:1.7%; 
    border:white 0.2vh solid;
    border-radius: 30vh;
}

.owned{
    position:fixed;
    margin-top:0.5vh;
    margin-left: 5.5vh;
}
own{
    color:hsl(216, 52%, 74%);
    font-size: 1.75vh;
}
owner{
    color:aliceblue;
}
owner:hover{
    color: aqua;
    cursor: pointer;
}





